rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para usuários
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Regras para grupos
    match /groups/{groupId} {
      allow read, write: if request.auth != null && 
        (resource == null || resource.data.members[request.auth.uid] != null);
      allow create: if request.auth != null;
    }
    
    // Regras para mídia
    match /media/{mediaId} {
      allow read, write: if request.auth != null && 
        (resource == null || 
         resource.data.groupId in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.groupId);
      allow create: if request.auth != null;
    }
  }
}
